.container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.buttonz{
    margin-top: 10px;
    display: flex;
    justify-content:center;
    gap: 10px;

}

.editButtonText {
    background-color: rgb(16, 145, 33);
}

.cancelButtonText {
    background-color: rgb(231, 25, 25);
}

.age {
    width: 20%;
}

.showPassword{
    display: flex;
    font-size: medium;
    cursor: pointer;
    width: 200px;
    height: 30px;
    gap: 5px;
}

.saveButton{
    background-color: rgb(83, 190, 34);
}